.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
R/convertWEO.R
R/readWEO.R
inst/extdata/.DS_Store
inst/extdata/regional/.DS_Store
inst/extdata/regional/regionmappingEUshares.csv
inst/extdata/regional/regionmappingIEA_ETP-Shares.csv
inst/extdata/regional/regionmappingISO-EDGE_EUR_ETP.csv
inst/extdata/regional/regionmappingWEO.csv
inst/extdata/sectoral/baitregression-files_test.csv
inst/regional/
inst/sectoral/
man/aggCells.Rd
man/blend.Rd
man/calcBAIT.Rd
man/calcBAITpars.Rd
man/calcCellHDDCDD.Rd
man/calcHDDCDDFactors.Rd
man/calcStackHDDCDD.Rd
man/cfac.Rd
man/checkDates.Rd
man/convertISIMIPbuildings.Rd
man/convertWEO.Rd
man/prepBaitInput.Rd
man/readISIMIPbuildings.Rd
man/readWEO.Rd
man/smooth.Rd
