.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
inst/extdata/.DS_Store
inst/extdata/regional/.DS_Store
inst/extdata/sectoral/baitregression-files_test.csv
inst/regional/
inst/sectoral/
man/calcBAITpars.Rd
man/convertISIMIPbuildings.Rd
man/convertWEO.Rd
man/readISIMIPbuildings.Rd
man/readWEO.Rd
